
body {

    display: flex;
    flex-direction: column;
}

.flex_container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
}

.main_part {
    display: flex;
    justify-content: space-between;
    
    background-color: #fff8e3;
    
}

.aside_part {
    display: flex;
    justify-content: right;
   
    background-color: #ddeccb;
}

.parts{
    display: flex;
    flex-direction: column;
}

.part1_2 {
    display: flex;
    justify-content: space-between;
}

.part3 {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
}

.part1, .part2, .part3 {
    background-color: #feeab9;
}
.foots {
    background-color: #fafafa;
}